<!DOCTYPE html>
<html>
  <head>
    <title>
      Form
    </title>
  </head>
  <body>
    <center>
      <h4>Joseph Lee, Jesse Chen</h4><br>
      <h1>Choose a Country you'd like to learn more about! </h1>
      <form action="/country">
        <select name="Countries">
          <option name = "country" value="mex">Mexico</option>
          <option name = "country" value="kor">Korea</option>
          <option name = "country" value="afg">Afghanistan</option>
          <option name = "country" value="bra">Brazil</option>
        </select>
        <br><br>
        <input type="submit" value = "submit">
      </form>
  </center>
  </body>
</html>
