<!DOCTYPE html>
<html>
    <head>
            <title> {{title}} </title>
            <b>Team Seven's Occupation Data</b>
            <br></br>
    </head>

    <body>
    Welcome to Team Seven's (Joseph Lee, Clement Chan) website where we have a wonderful table of <br>
    data for you. It has a list of occupations along with the percentage <br>
    they hold in the labor force. We also have a feature that randomly <br>
    spits out a occupation by weight!
    <br></br>
    <i>Weighted Random Occupation of the Day: {{occ}}</i>
    <br></br>
    <table style="width:100%">
        <th> Occupation </th>
        <th> Percentage </th>
        {% for key, value in dict_jobs.items() %}
        <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
        </tr
        {% endfor %}
    </table>
    </body>

</html>
